*{
	padding: 0;
	margin: 0;
}
body{
	background: #91939D ;
}
.main {
	background: #667BE7;
	min-height: 600px;
	width: 70%;
	margin: auto;
	padding-bottom: 10px;

}
.menu{
	background: #00AFFF;
	width: 98%;
	margin: auto;
	height: 70px;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
}

.logo{
	width: 50px;
	height: 50px;
	margin: calc(50% - 25px);
	display: inline-block;
	margin-top: 10px;
}

.men{
	border: 1px solid black;
	float: right;
	margin-top: 10px;
	margin-right: 20px;
}

.el li{
	display: inline;
}

.content {
	width: 80%;
	background: #5E2B9A ;
	height: 700px;
	margin: auto;
	box-shadow: 0 0 10px 1px green;
	margin-top: 10px;
	border-radius: 15px;
}